/**
 * Styles for Component.tsx
 * @created 2021-04-04 17:08:54
 * @author TrongDat <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.containerView {
  flex: 1;
  background-color: map-get($colors, 'white');
}
.contentView {
  //flex: 1;
  //elevation: 4;
  //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 28px;
  height: 90%;
  padding: 0 15px;
  border-width: 1px;
}
.textStyle {
  font-weight: 900;
  margin-top: 31px;
}
.listType {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.listTime {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.buttonNext {
  position: absolute;
  background-color: map-get($colors, 'blue');
  height: 56px;
  border-radius: 7px;
  bottom: 50px;
  left: 20px;
  right: 20px;
  justify-content: center;
  align-items: center;
}
.textNext {
  font-weight: 700;
  color: map-get($colors, 'white');
}
