/**
 * Styles for Component.tsx
 * @created 2021-03-13 22:49:02
 * @author tannt <ngotientan811@gmail.com>
 */

.textStyle {
  font-weight: 100;
  width: 75%;
}

.bottomInputStyle {
  border: 1px solid rgba(130, 130, 130, 0.25);
}

.textInput {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  padding: 5px;
  margin-right: 15px;
}
