/**
 * Styles for Component.tsx
 * @created 2021-03-15 10:41:37
 * @author tannt <ngotientan811@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.textStyle {
  font-weight: 100;
}

.screenContainer {
  padding: 0 20px;
  padding-top: 40px;
  height: 100%;
}
//view block
.viewContainer {

  background-color: map-get($colors, "white");
  padding: 20px 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  elevation: 4;
  border-radius: 10px;
  margin-bottom: 25px;
}
