/**
 * Styles for Component.tsx
 * @created 2021-05-16 17:11:16
 * @author TrongDat <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";

.containerView {
  width: 100%;
}
.buttonContainer {
  margin: 8px 12px;
  height: 45px;
  width: 90px;
  background-color: map-get($colors, 'white');
  border-width: 1px;
  border-color: map-get($colors, 'gray');
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.pickedButton {
  background-color: map-get($colors, 'blue');
  border: none;
}
.unPickedText {
  color: map-get($colors, 'gray');
  font-weight: 100;
}
.pickedText {
  color: map-get($colors, 'white');
  font-weight: 100;
}
.textStyle {
  font-weight: 900;
  margin-top: 20px;
}
.listTime {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
