/**
 * Styles for Component.tsx
 * @created 2021-03-16 16:16:30
 * @author tannt <ngotientan811@gmail.com>
 */
@import "src/styles/mixins";

.textStyle {
  font-weight: 100;
}

.viewContainer {
  margin: 16px;
  background-color: map-get($colors, "white");
  padding: 8px 16px;

  border-radius: 10px;
}
