/**
 * Styles for Component.tsx
 * @created 2021-03-14 01:02:27
 * @author tannt <ngotientan811@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.textStyle {
  font-weight: 100;
}

.screenContainer {
  padding: 0 20px;
  padding-top: 50px;
  border: 1px solid black;
  height: 100%;
}

