/**
 * Styles for Component.tsx
 * @created 2021-03-09 17:09:49
 * @author TrongDatVu <trongdat1505@gmail.com>
 */
 @import '../../styles/atomic-styles';
.container {
  flex: 1;
  justify-content: center;
  padding: 16px 16px 16px 16px;
}
.day {
  color: map-get($colors, "third-gray" );
  margin: 5px 0;

}
.padding {
  height: 100px;
}

.scrollContainer {
  height: 100%;
  padding-bottom: 15%;
}
