/**
 * Styles for Component.tsx
 * @created 2021-03-09 17:09:49
 * @author TrongDatVu <trongdat1505@gmail.com>
 */
.container {
  flex: 1;
  justify-content: center;
}
.day {
  font-weight: 700;
  font-size: 16px;
  color: #DADADA;
  margin: 13px 0px;  
  margin-left: 8%;
}
.padding {
  height: 100px;
}