/**
 * Styles for Component.tsx
 * @created 2021-04-10 22:35:47
 * @author TrongDat <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";

.container {
  height: 100%;
}
.containerViewRow {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.seatArea {
  flex: 2;
}
.labelView {
  align-items: center;
  width: 30px;
  height: 100%;
  justify-content: space-around;
}
.labelContainer {
  flex-direction: column;
  justify-content: space-around;
}
.labelText {
  color: map-get($colors, 'gray');
}
.rowStyle {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.labelRowContainer {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20px;
  padding: 0 28px;
}
.labelRow {
  width: 24px;
  text-align: center;
}
.wrapperRow {
  margin: 4.6px 0;
}
