/**
 * Styles for Component.tsx
 * @created 2021-03-11 23:31:34
 * @author tannt <ngotientan811@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.screenContainer {
  padding: 0 20px;
  padding-top: 80px;
  border: 1px solid black;
  height: 100%;
}

.title {
  font-size: 30px;
  font-weight: bold;

}
.subtitle {
  color: #828282;
}
