/**
 * Styles for Component.tsx
 * @created 2021-03-11 23:31:34
 * @author tannt <ngotientan811@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";


.screenContainer {
  padding: 0 20px;
  padding-top: 50px;
  border: 1px solid black;
  height: 100%;
}

.headerArea {
  margin-bottom: 40px;
}

.textStyle {
  font-weight: 100;
}



.chooseArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.lineArea {
  width: 159px;
  border: 2px solid map-get($colors, "blue");
}

.borderComp {
  border: 1px solid map-get($colors, "black");
}

.loginArea {
  margin-top: 50px;
}

.bottomInputStyle {
  border: 1px solid rgba(130, 130, 130, 0.25);

}

.forgotPass {
  text-align: right;
  margin-top: 30px;
}
