@import "colors";

$fonts: (
        bold: SVN-GilroyBold,
        regular: SVN-GilroyRegular,
        medium: SVN-SVN-GilroyMedium,
);

$spacing: 16px;

$login-spacing: 16px;

$font-default: 14px;

$border-radius: 10px;

$border-radius-login: 50px;

$input-login-padding: 14px 20px;
