/**
 * Styles for Component.tsx
 * @created 2021-03-16 20:30:56
 * @author Huy-No1 <71492647+Huy-No1@users.noreply.github.com>
 */
.mainComponent {
    height: auto;
    width: auto;
    margin: 0px 5.8%;
}
.header {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    line-height: 23px;
    margin: 20px 0px;
}
.line {
margin-top: 27px;
width: 80%;
height: 2px;
background-color: rgba(130, 130, 130, 0.25);
margin-left: auto;
margin-right: auto;
}
.text1 {
    padding: 5px 0px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: black
}
.text2 {
    padding: 5px 0px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #828282;
}