/**
 * Styles for Component.tsx
 * @created 2021-03-13 09:52:46
 * @author tannt <ngotientan811@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.height {
  height: 70px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 10px;
}

.containerView {
  background-color: map-get($colors, "white");
  border-radius: $border-radius;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  elevation: 6;
  padding: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.textInfo {
  @extend .h6;
  @extend .textPrimary;
  @extend .text;
}

.buttonDeletePosition {

}

.buttonDelete {
  background-color: map-get($colors, "red");
  border-radius: $border-radius;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //margin-left: 8px;
  margin-right: 17px;
  width: 80px;
  height: 87%;
}

.buttonDeleteText {
  @extend .h6;
  @extend .textWhite;
  padding: 16px;
}
