/**
 * Styles for Component.tsx
 * @created 2021-04-12 12:43:43
 * @author TrongDat <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";

.container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.5px solid map-get($colors, 'blue');
  border-radius: 7px;
  width: 100%;
  padding: 2px 12px;
  margin: 4px 0;
}
.text {
  font-weight: 500;
}
.clearButton {

}
