/**
 * Styles for Component.tsx
 * @created 2021-03-15 23:09:51
 * @author tannt <ngotientan811@gmail.com>
 */

.textStyle {
  font-weight: 100;
}

.screenContainer {
  padding: 20px 20px;
  height: 100%;
}
