/**
 * Styles for Component.tsx
 * @created 2021-04-11 17:32:52
 * @author TrongDat <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";

.containerView {
  flex: 1;
  background-color: map-get($colors, 'white');
  padding: 0 18px;
}
.listComboArea {
  //height: 300px;
}
.voucherContainer {
  margin-top: 16px;
}
.voucherTitle {
  color: map-get($colors, 'gray');
  margin-bottom: -5px;
  font-style: italic;
}
.line {
  border: 0.5px solid map-get($colors, 'gray');
  background-color: map-get($colors, 'gray');
  margin-bottom: 8px;
  margin-top: -5px;
}
.text {
  font-weight: 500;
  text-align: center;
  width: 50%;
  color: map-get($colors, 'gray');
}
.summaryContainer {
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  elevation: 20;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 18px;
  width: 100%;
  background-color: map-get($colors, 'white');
  position: absolute;
  bottom: 0;
}


.comboArea {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.comboText {
  font-weight: 500;
}

.summaryTotal {
  margin-top: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.costSummary {
  align-items: center;
  width: 50%;
}

.costTitle {
  font-weight: 500;
}

.cost {
  color: map-get($colors, 'blue');
}

.bookingButton {
  background-color: map-get($colors, 'blue');
  height: 48px;
  width: 150px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}

.buttonText {
  color: map-get($colors, 'white');
  font-weight: 500;
}

.textStyle {
  font-weight: 100;
  text-align: center;
}

.listSelectedCombo {
  width: 40%;
}
