/**
 * Styles for Component.tsx
 * @created 2021-04-04 11:12:02
 * @author TrongDat <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.containerReview {
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
  border-bottom-width: 0.5px;
  border-color: map-get($colors, "gray" );
}
.avatarItem {
  height: 40px;
  width: 40px;
  border-radius: 120px;
}
.containerViewRight {
  margin-left: 4%;
  width: 78%;
  flex-direction: column;

}
.ReviewArea {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

}
.reviewTitle {
}
.timeItem {
  color: map-get($colors, 'gray');
  font-weight: 500;
}
.rate {
  flex-direction: row;
  align-items: center;
}
.detailReview {
  //margin-right: 36px;
  margin-top: 9px;
  padding-right: 15%;
  color: map-get($colors, 'gray');
  // height: 200px;
}

