/**
 * Styles for Component.tsx
 * @created 2021-04-19 21:48:55
 * @author Huy-No1 <huygg12345@gmail.com>
 */
.touchable {
    width: 100%;
    align-items: center;
}
.bigwrapper {
    width: 100%;
}
.textStyle {
    font-weight: 100;
}
.content {
    font-weight: 300;
    font-size: 15px;
};
.wrapper {
    margin-top: 5px;
    // height: 40;
    margin-bottom: 10px;
}
.title {
    flex-direction: row;
    line-height: 18.9px;
    margin-top: 5px;
    justify-content: space-between;
}
