/**
 * Styles for Component.tsx
 * @created 2021-03-16 20:30:56
 * @author Huy-No1 <71492647+Huy-No1@users.noreply.github.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.mainComponent {
    height: auto;
    width: auto;
    margin: 0px 5.8%;

}
.textStyle {
    font-weight: 100;
}

.header {
    font-size: 22px;
    line-height: 23px;
    margin: 20px 0px;
}
.line {
    margin-top: 4%;
    width: 90%;
    height: 2px;
    background-color: map-get($colors, "line-gray");
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

