/**
 * Styles for Component.tsx
 * @created 2021-03-15 11:00:46
 * @author tannt <ngotientan811@gmail.com>
 */

@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.textStyle {
  font-weight: 100;
}

.screenContainer {
  padding-top: 40px;
  padding-bottom: 15%;
  height: 100%;
}
