/**
 * Styles for Component.tsx
 * @created 2021-04-12 12:57:54
 * @author TrongDat <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";

.titleHeader {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  //background-color: #0E52E1;
}
.containerView {
  width: 100%;
  height: 100%;
  background-color: map-get($colors, 'white');
  padding: 20px 20px 0;
}
.information {
  flex-direction: row;
}
.infoImage {
  width: 97px;
  height: 120px;
  border-radius: 8px;
}
.info {
  margin-left: 22px;
}
.filmName {
  margin-top: 10px;
}
.infoType {
  font-weight: 400;
  color: map-get($colors, 'gray');
  margin: 3px 0;
}
.textBold {
  color: map-get($colors, 'blue');
}
.detailArea {
  margin-top: 25px;
  flex-direction: row;
  justify-content: space-around;
}
.detailBlock {
}

.detailTitle {
  font-weight: 400;
  color: map-get($colors, 'gray');
}
.detailInfo {
  color: map-get($colors, 'blue');
}
.comboInfo {
  margin-top: 16px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.comboDetail {
  color: map-get($colors, 'blue');
}
.paymentArea {
  margin-top: 22px;
}
.paymentGroup {
  border: 0.5px;
  border-radius: 14px;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.summaryArea {
  position: absolute;
  bottom: 10%;
  width: 100%;
  left: 20px;
  right: 20px;
}
.summary {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.paymentButton {
  margin-top: 20px;
  background-color: map-get($colors, 'blue');
  border-radius: 7px;
  height: 56px;
  justify-content: center;
  align-items: center;
}
