/**
 * Styles for Component.tsx
 * @created 2021-04-16 00:33:39
 * @author TrongDat <trongdat1505@gmail.com>
 */


.textStyle {
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.screenContainer {
  padding: 0 20px;
  //height: 100%;
}

.backButton {
  position: absolute;
  z-index: 20;
  top: 20px;
  left: 10px;
  padding: 5px;
}
