/**
 * Styles for Component.tsx
 * @created 2021-05-11 23:47:47
 * @author Huy-No1 <71492647+Huy-No1@users.noreply.github.com>
 */
 @import "src/styles/mixins";
@import "src/styles/atomic-styles";

.goback {
    margin-top: 3%;
    width: 93%;
    // align-items: flex-start;
    // justify-self: flex-start;
}
 .yourcomment{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .textyourcomment{
    margin-top: -6%;
    font-size: 22px;
    line-height: 23px;
  }
  .header{
    margin-top: 6%;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 21%;
    padding-bottom: 8%;
    border-bottom-width: 0.5px;
    border-color: rgba(130, 130, 130, 0.25);
  
  }
  .imageheaderinfo{
    width: 22%;
    height: 100%;
    border-radius: 14px;
  }
  .headerinfo{
    margin-left: 6%;
    align-self: flex-end;
  }
  .headerinfo_name{
    font-size: 18px;
    line-height: 19px;
  }
  .headerinfo_release{
    font-size: 14px;
    line-height: 15px;
  }
  .headerinfo_kind{
    font-size: 11px;
    line-height: 11px;
    color: map-get($colors, "gray" );
  }
  .ratemovie{
    width:90%;
    height: 66%;
    // align-items: flex-start;
    justify-content: center;
    align-items: center;
    // border-width: 1px;
  }
  .rateheader{
    margin-top: 15px;
    font-size: 16px;
    line-height: 17px;
    align-self:flex-start;
  }
  .input{
    width: 90%;
    height: 55%;
    border-radius: 14px;
    border-color: #0E52E1;
    border-width: 0.5px;
    padding: 5%;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5%
  }
  .pressstar{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
  }
  .star{
    width: 32px;
    height: 32px;
  }
  .buttondanhgia {
      width: 92%;
      height: 10%;
      background-color: #0E52E1;
      border-radius: 14px;
      align-items: center;
      justify-content: center;
  }
  .textbuttondanhgia{
      color:white;
  }