/**
 * Styles for Component.tsx
 * @created 2021-06-07 20:11:01
 * @author Ngo Tien Tan <ngotientan811@gmail.com>
 */

.item {
  width: 100%;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 16px;
  height: 70px;
}

.text {
  margin: 5px 0;
  height: 30px;
  width: 100px;
  border-radius: 5px;
}
