/**
 * Styles for Component.tsx
 * @created 2021-03-09 16:40:00
 * @author TrongDatVu <trongdat1505@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";

.containerView {
  height: 100%;
  padding-bottom: 25%;
  padding-top: 10%;
}

.button {
  border-width: 2px;
  border-color: map-get($colors, 'primary');
}
