/**
 * Styles for Component.tsx
 * @created 2021-03-09 16:40:00
 * @author TrongDatVu <trongdat1505@gmail.com>
 */
.container {
  flex: 1;

}

.seperatorLine {
  height: 1px;
  background-color: black;
}

.scrollView {
  padding-bottom: 25%;
}
