/**
 * Styles for Component.tsx
 * @created 2021-03-11 23:21:22
 * @author tannt <ngotientan811@gmail.com>
 */
@import "src/styles/mixins";
@import "src/styles/atomic-styles";


.screenContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
}
