
@import '../../../styles/atomic-styles';

.textStyle {
  font-weight: 100;
}

.carouselContainer {
    margin-top: 30px;
}

.headerText {
  font-size: 19px;
  line-height: 19px;
  display: flex;
  letter-spacing: 0.2px;
  color: black;
}

.info {
  padding-top: 4.5%;
  padding-left: 16.4%;
}
.release {
  padding-top: 3px;
  color: map-get($colors, "gray");
  font-size: 15;
  font-weight: 500;
  font-style: normal;
}
.line {
  margin-top: 27px;
  width: 80%;
  height: 2px;
  background-color: rgba(130, 130, 130, 0.25);
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 30px 6% 0 6%;
  padding: 5px 0;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: 0.02;
}
.head {
  margin: 50px 6% 0px 6%;
  padding: 5px 0px;
  flex-direction: row;
}
<<<<<<< HEAD

.imageContainer {
  border-radius: 39px;
  border-width: 3px;
}
=======
>>>>>>> 071e4b1d12a9f9ace39136f95ad489fc03edd3ce
